.filter-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.movie-filters-container {

    width: 70%;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.filter-select-container {

    flex: 20%;
    margin-left: 5px;
    margin-right: 50px;
    background-color: #6C6C6C;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

    .movie-genres-select__control {
    
        width: 30%;
        height: 30px;
        border: 1;
        border-radius: 10px;
        color: #FFFFFF;
        background-color: #6C6C6C;
        border-bottom: 1px solid #FFFFFF;
    
    }

    .movie-genres-select__single-value {
    
        color: #FFFFFF;
        background-color: #9E9E9E;
    
    }

    .movie-genres-select__indicator-separator {
        display: none;
        color: #E1E1E1;
    }
    
    .movie-genres-select__placeholder {
        color: #FFFFFF;
    }
}

@media (max-width: 768px) {

    .filter-select-container {

        .movie-genres-select__control {
    
            width: 100%;
            height: 30px;
        }
    }

    .movie-filters-container {

        width: 100%
    }


}

@media (max-width: 576px) {

    .movie-filters-container {

        width: 100%;

        height: 80px;

        flex-direction: column;

        justify-content: space-between;

        padding: 10px;

    }

    .filter-select-container {

        width: 100%;

        margin: 10px 0px;

        .movie-genres-select__control {
    
            width: 100%;
            height: 30px;
        }
    
    }
}