.catalog-container {
    padding: 20px 135px 20px 135px;
}

.catalog-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
}

.catalog-movies {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 20px 20px;
    justify-content: space-between;
}

@media (max-width: 768px) {

    .catalog-title {
        margin-bottom: 20px;
    }

    .catalog-movies {
        grid-template-columns: repeat(auto-fill, 200px);
        gap: 33px 10px;
    }
}

@media (max-width: 576px) {

    .catalog-container {
        padding: 10px 10px 10px 10px;
    }
    
    .catalog-movies {
        grid-template-columns: repeat(auto-fill, 100%);
    }

}