.main-nav {

    width: 100% !important;

    height: 70px;

    color: #000000;

    display: flex;

    flex-wrap: nowrap;

    align-items: center;

    justify-content: space-between;

    padding: 0 40px;

    margin: 0px;
}

.nav-logo-text {
    width: 30%;
    color: #000000;
}

.menu-mobile-btn {

    display: none;

}

.button-logout {
    
    border: 2px solid #000000;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    padding: 5px 15px;

    
}

.menu-container {

    width: 55%;

    display: flex;

    flex: 1;

    justify-content: center;

    flex-wrap: nowrap;
}

.main-menu {

    max-width: 300px;
    
    display: flex;
    
    flex: 1;
    
    justify-content: space-between;
    
    align-items: flex-end;

}

.nav-link {

    font-size: 18px;
    font-style: normal;
    color: rgba(255,255,255, 0.5);

    &.active {
        font-weight: bold;
        color: #000000;
    }

    &:hover {
        color: #000000;
    }
}

// mobile breakpoints


@media (max-width: 768px) {

    .menu-container {

        justify-content: flex-end;

    }

}

@media (max-width: 576px) {

    .main-nav {

        width: 100% !important;

        justify-content: space-between;

    }

    .nav-logo-text {

        width: 50%;

        margin-left: 15px;

    }

    .button-logout {
    
        border: 2px solid #000000;
        border-radius: 10px;
        font-weight: bold;
        font-size: 4px;
        line-height: 10px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #000000;
        padding: 2px;
    
        
    }
}
