.product-details-container {
    padding: 40px 135px 70px 135px;
}

.product-details-info {

    display: flex;

    flex-direction: row;

    padding-right: 5px;

    margin-bottom: 15px;

}

.product-details-card {

    width: 100%;
    border-radius: 20px;
    padding: 25px 17px 30px 17px;

}

.product-details-image {

    width: 100%;
    height: 100%;

}

.movie-details-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.movie-details-year {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #FFC700;
}

.movie-details-subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.movie-details-synopsis {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    padding: 10px;
    margin-top: 10px;
}

.movie-reviews-container {

    background-color: #6C6C6C;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-bottom: 10px;

}

.movie-reviews-autor {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.movie-reviews-star-image {
    padding-left: 10px;
    padding-right: 15px;
    align-items: center;
}

.movie-reviews-autor-name {

    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #FFFFFF;

}

.movie-reviews-text {
    
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    border-radius: 15px;
    border: 1px solid #FFFFFF;
    padding: 10px;
    margin: 10px;
}

@media (max-width: 768px) {

    .product-details {

        display: flex;

        flex-direction: column;

    }

    .product-details-info {

        flex-direction: column;

    }

    .product-details-card {

        width: 530px;

        margin: 0 auto;

    }

    .product-details {

        flex-direction: column;
    }

    .product-info-fields {

        border: 0px;

        padding: 0px 10px;

        margin-bottom: 40px;

        width: 530px;

        display: flex;

        flex-direction: row;

        justify-content: space-between;

    }

    .product-description-text {
        padding: 25px;
        width: 460px;
    }

}

@media (max-width: 576px) {

    .product-details-container {

        margin-top: 5px;

        padding: 10px;

    }

    .product-details {

        display: flex;

        flex-direction: column;

        padding: 30px;
    }

    .product-details-card {

        width: 100%;

        display: flex;

        flex-direction: column;

        align-items: center;

        padding: 10px;

    }

    .product-details-image {

        width: 200px;

        height: 200px;

    }

    .product-info-fields {

        width: 100%;

        display: flex;

        flex-direction: column;

        align-items: center;

    }

    .product-description-text {

        color: #FFFFFF;
        width: 90%;

    }

}