.review-base-form {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px 45px 20px 45px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.base-form-actions {
    margin-top: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.button-salvar {
    padding: 15px 80px 15px 80px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    border: none;
}

@media (max-width: 768px) {

    .review-base-form {
        width: 100%;
    }

}

@media (max-width: 576px) {

    .review-base-form {
        width: 100%;
        flex-direction: column;
        padding: 10px;
    }

}